a {
    color : black !important;
    text-decoration: none !important;
}


.input-no-border{
    border-width: 0px !important;
}
.input-no-border:focus {
    outline: none;
    border-color: #fff;
}

.input-no-border:not(:placeholder-shown) {
    border-color: #fff;
}

/* Backdrop Modal Section */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 75%;
}

.close:hover {
    cursor: pointer;
}

.modal-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* End Of Modal Section */

/* Header Section */

.header-navigation {
    display : flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px;
    margin-top : 10px;
    position : relative;
}

.header-navigation .row {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cart-container {
    position: relative;
    margin-left: auto;
}

.cart-count {
    position: absolute;
    top: 1px;
    right: -18px;
    background-color: yellow;
    color: blue;
    font-size: 12px;
    padding: 1px 6px;
    border-radius: 45%;
}

.logo-navbar{
    width : 100%;
    max-width: 150px;
}

@media screen and (min-width:1400px){
    .logo-navbar{
        width : 100%;
        max-width: 300px;
    }
}

@media screen and (max-width:1366px){
    .logo-navbar{
        margin-right : 25px;
    }
}

.search-section{
    min-width : 200px;
    margin : 0px 25px;
}

.form-searchbar {
    border : 2px solid black;
    border-radius: 25px;
    display: flex ;
    flex-direction: row ;
    align-items: center;
}

.searchbar-navbar {
    width : 100%;
    max-height : 25px;
    padding : 10px;
    border-radius: 25px;
}

.search-icon {
    margin : 0 15px;
    transition: transform 0.3s ease;
}

.search-icon:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.feature-container{
    display : flex;
    flex-direction: row;
    font-size : 0.9em;
    font-family: 'Montserrat';
}

.icon-link {
    color : black;
    margin : 0px 25px;
    text-align: center;
    transition: transform 0.3s ease;
    font-size: 1em;
}
.icon-link-transaction {
    color : black;
    margin : 0px 45px;
    text-align: center;
    transition: transform 0.3s ease;
    font-size: 1em;
}

@media screen and (min-width:1400px){
    .icon-link {
        margin : 0px 35px;
    }
    .icon-link-transaction {
        margin : 0px 50px;
    }
}

@media screen and (max-width:1280px){
    .icon-link {
        margin : 0px 20px;
    }
    .icon-link-transaction {
        margin : 0px 40px;
    }
}

@media screen and (max-width:1000px){
    .icon-link {
        margin : 0px 7px;
    }
    .icon-link-transaction {
        margin : 0px 27px;
    }
}

.login-button {
    min-width: 55px;
    background-color: red;
    color : white !important;
    display : flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding : 5px;
}

.icon-link:hover {
    transform: scale(0.9) !important;
    cursor: pointer;
}

/* End Of Header Section */

/* Start Of Footer Section */
.link-footer{
    text-decoration: none;
}
.link-footer:hover{
    cursor: pointer;
    text-decoration: underline !important;
}
/* End Of Footer Section */

/* Start of Main Page Style */
#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.navigation-text{
    font-size : 0.75em;
    font-family: 'Montserrat';
}

.product-link{
    width : 100%;
}

.product-container {
    margin-top : 20px;
}

.product-spacer {
    padding : 20px;
    transition: transform 0.3s ease;
}

.product-spacer:hover {
    transform: scale(0.95) !important;
    cursor: pointer;
}

.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding : 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius : 12px;
}

.product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height : 285px;
}

.product-image {
    margin-top : 20px;
    width : 100%;
    height : 100%;
    max-width : 180px;
}

.product-name {
    font-size : 0.95em;
}

.product-info-container{
    margin-top : 20px;
    min-height : 75px;
    display: flex;
    flex-direction: column;
    height : 100px;
}

.product-price-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height : 100px;
}

.product-price {
    font-size : 1.5em;
    font-weight: bold;
}
.product-size {
    font-size : 0.75em;
}

@media screen and (min-width:1400px){
    .product-price-container {
        height : 120px;
    }
    .product-info-container{
        height : 120px;
    }
    .product-name {
        font-size : 1.2em;
    }
    .product-price {
        font-size : 1.7em;
        font-weight: bold;
    }
    .product-size {
        font-size : 1em;
    }
}

/* End of Main Page Style */

/* Product Page Style */
.main-pic{
    width : 33%;
    padding : 25px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-yellow{
    border : 1px solid #D7A933;
    margin-bottom : 5px;
}

.side-pic-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.side-pic-container .border-yellow {
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-pic {
    max-width : 66%;
    padding : 5px;
}
.side-pic-image {
    width: 100%;
    padding : 3px;
}
.quantity-container {
    display: flex;
    flex-direction: row;
}
.stock-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-cream {
    border : 1px solid white;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.box-cream:active {
    transform: scale(0.95);
}
.button-container {
    display: flex;
    flex-direction: row;
}
.red-button {
    width : 20%;
    text-align: center;
    background-color: red;
    color : white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding : 5px;
    border-radius: 8px;
    border : none;
}
.red-button:disabled {
    background-color: gray;
}
.green-button {
    width : 20%;
    text-align: center;
    background-color: green;
    color : white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding : 5px;
    border-radius: 8px;
    border : none;
}
.green-button:disabled {
    background-color: gray;
}
.green-button:active{
    transform: scale(0.95);
}
.red-button:active{
    transform: scale(0.95);
}

/* End Product Page Style */

/* Start Cart Page Style */
.row-cart {
    display: flex;
    flex-direction: row;
}
.white-box {
    background-color: white;
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 10px;
}
.white-box img{
    padding : 10px;
    object-fit: cover;
    max-width: 150px;
    max-height: 150px;
}
.price-tag{
    margin-left : 30%;
    margin-right : 5%;
    width:120px;
}
.trash-can {
    margin-left : 30%;
    margin-right : 5%;
}
.trash-can i {
    object-fit: cover;
}
.trash-can:hover {
    cursor: pointer;
}
.button-checkout{
    border-radius: 8px;
    border : 1px solid black;
    width : 100%;
}
.button-checkout:disabled{
    background-color: #888;
    color : white;
}
.empty-message{
    width : 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
/* End of Cart Page Style */

